html {
  height: 100%;
  width: 100%;
}
h1{
  background-color: #808080; 
  color: #000000;
  padding: 10px; 
 
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #bababa;
  
}
footer {
    position: fixed;
    bottom:0;
    left:0;

}
.btn {
  
    padding: 0.1em 0.4em;
    cursor: pointer;
    background: linear-gradient(90deg, #ff0000 0%, #a80000 100%);
    text-decoration: none;
    font-weight:bold;
    font-size:1em; 
    color: #fff;
    border-radius:6px;
    transition:0.9s; 
}
.btn:hover { color:#9e9e9e; transition:0.3s; }
@-webkit-keyframes btn-pulsando {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes btn-pulsando {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    color:#ffffff; 
  }
}
.btn-pulsando {
  display: inline-block ;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.btn-pulsando:hover, .btn-pulsando:focus, .btn-pulsando:active {
  -webkit-animation-name: btn-pulsando;
  animation-name: btn-pulsando;
  -webkit-animation-duration: 0.3s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
::selection { background: #545454; color: #fff; } ::-moz-selection { background: #1f6a8f; color: #fff; }